<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyuni.android.bullet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfilActivity" />
        <activity android:name=".EditProfilActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".InfoUsahaActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".CatatanKeuanganActivity" />
        <activity android:name=".Forum" />
        <activity android:name=".ForumInsideActivity" />
        <activity android:name=".NewForumActivity" />
        <activity android:name=".DaftarProdukActivity" />
        <activity android:name=".DetailProductActivity" />
        <activity android:name=".TambahProdukActivity" />
        <activity android:name=".DaftarPembeliActivity" />
        <activity android:name=".DetailPembeliActivity" />
        <activity android:name=".PeminjamanActivity" />
        <activity android:name=".CatatanPeminjamanActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".CatatanPenjualanActivity" />
        <activity android:name=".UpdateProdukActivity"></activity>
    </application>

</manifest>